/**
 * CONTENTS
 *
 * SETUP
 * XX.........................................@XX | Description.
 * YY.........................................@YY | Description.
 *
 * CUSTOM CSS
 * Loading Splash.............................@loading | Loading splash.
 * Base.......................................@base | Base CSS.
 *
 */
/**
 * Use @tag to jump to sections
 */
/* ==========================================================================
   Setup
   ========================================================================== */
/* Variables | @variables
   ========================================================================== */
/* Project Breakpoints */
/* Mixins | @mixins
   ========================================================================== */
/* Keyframes Mixin */
/* ==========================================================================
   Custom CSS
   ========================================================================== */
/* Loading Splash | @loading
   ========================================================================== */
#grc-app-loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: brown;
  z-index: 1000; }

.grc-app-loading-heading {
  width: 100%;
  text-align: center;
  color: white; }

/* Base | @base
   ========================================================================== */
html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

#grc-app {
  height: 100%; }

/**
 * helper class for temporarily removing scroll
 */
.grc-stop-scrolling {
  height: 100%;
  overflow: hidden; }

.grc-section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  .grc-section p {
    margin: 0;
    padding: 0;
    font-size: 3em; }
  .grc-section-1 {
    position: relative;
    overflow: hidden; }
  .grc-section-2 {
    overflow: hidden; }
  .grc-section-3 {
    background-color: white; }
  .grc-section-4 {
    overflow: hidden; }

/* Section 1 | @s1
   ========================================================================== */
.grc-section-1-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../img/s1-bg.png); }

.grc-section-1-scale-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.grc-section-1-book-cover-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  width: 376px;
  height: 531px;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-7deg) scale(1.01) perspective(2000px) translateX(-70px) translateY(0px);
  -ms-transform: rotate(-7deg) scale(1.01) perspective(2000px) translateX(-70px) translateY(0px);
  -moz-transform: rotate(-7deg) scale(1.01) perspective(2000px) translateX(-70px) translateY(0px);
  -o-transform: rotate(-7deg) scale(1.01) perspective(2000px) translateX(-70px) translateY(0px);
  transform: rotate(-7deg) scale(1.01) perspective(2000px) translateX(-70px) translateY(0px); }

.grc-section-1-book-cover,
.grc-section-1-book-cover-back {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

.grc-section-1-book-cover {
  backface-visibility: hidden;
  background-image: url(../img/s1-cover.png); }

.grc-section-1-book-cover-back {
  background-image: url(../img/s1-cover.png); }

.grc-section-1-book-cover-top-shadow {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  /* Chrome10+,Safari5.1+ */ }

/* Section 2 | @s2
   ========================================================================== */
@-webkit-keyframes scene2Bouncy {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes scene2Bouncy {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-ms-keyframes scene2Bouncy {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes scene2Bouncy {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
.grc-section-2-bg,
.grc-section-2-bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2d3343; }

.grc-section-2-bg-stars {
  opacity: 0;
  background-color: transparent;
  background-image: url(../img/s2-stars.png); }

.grc-section-2-character {
  position: absolute;
  top: 23%;
  left: -30%;
  display: block;
  -webkit-animation: scene2Bouncy 6s ease-in-out infinite;
  -ms-animation: scene2Bouncy 6s ease-in-out infinite;
  -moz-animation: scene2Bouncy 6s ease-in-out infinite;
  -o-animation: scene2Bouncy 6s ease-in-out infinite;
  animation: scene2Bouncy 6s ease-in-out infinite; }

/* Section 3 | @s3
   ========================================================================== */
/* Animation Keyframes */
@-webkit-keyframes scene3MoveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0% -100%; } }
@-moz-keyframes scene3MoveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0% -100%; } }
@-ms-keyframes scene3MoveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0% -100%; } }
@keyframes scene3MoveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0% -100%; } }
.grc-section-3-panel-right {
  position: absolute;
  right: 20%;
  height: 500px;
  width: 400px;
  background-repeat: repeat-y;
  background-image: url(../img/s3-panel-right-bg.jpg); }
  .grc-section-3-panel-right.animated {
    -webkit-animation: scene3MoveBg 4s linear infinite;
    -ms-animation: scene3MoveBg 4s linear infinite;
    -moz-animation: scene3MoveBg 4s linear infinite;
    -o-animation: scene3MoveBg 4s linear infinite;
    animation: scene3MoveBg 4s linear infinite; }

/* Section 4 | @s4
   ========================================================================== */
.grc-section-4-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/s4-bg.jpg); }

/* Section 5 | @s5
   ========================================================================== */
.grc-section-5-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  -webkit-background-size: 80%;
  -ms-background-size: 80%;
  -moz-background-size: 80%;
  -o-background-size: 80%;
  background-size: 80%;
  background-image: url(../img/s5-bg.jpg); }

.grc-section-5-text-warp {
  position: relative;
  max-width: 200px; }

/* Section 6 | @s6
   ========================================================================== */
.grc-section-6-roof-line-container {
  position: relative;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 60px;
  overflow: hidden; }

.grc-section-6-roof-line {
  position: absolute;
  right: 0;
  max-width: 100%;
  -webkit-transform: translateX(-90%);
  -ms-transform: translateX(-90%);
  -moz-transform: translateX(-90%);
  -o-transform: translateX(-90%);
  transform: translateX(-90%);
  -webkit-transition: transform 1s ease-out;
  -ms-transition: transform 1s ease-out;
  -moz-transition: transform 1s ease-out;
  -o-transition: transform 1s ease-out;
  transition: transform 1s ease-out; }
  .grc-section-6-roof-line.animated {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }

/* Section 7 | @s7
   ========================================================================== */
.grc-section-7-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.grc-section-7-cosmos {
  min-height: 100%;
  max-height: 100%; }

#s7-svg {
  position: relative;
  left: 25%;
  z-index: 999; }
