/**
 * CONTENTS
 *
 * SETUP
 * XX.........................................@XX | Description.
 * YY.........................................@YY | Description.
 *
 * CUSTOM CSS
 * Loading Splash.............................@loading | Loading splash.
 * Base.......................................@base | Base CSS.
 *
 */

/**
 * Use @tag to jump to sections
 */

/* ==========================================================================
   Setup
   ========================================================================== */

/* Variables | @variables
   ========================================================================== */

/* Project Breakpoints */
$tablet: 768;
$desktop: 992;
$desktop-lg: 1200;
$desktop-xl: 1600;

/* Mixins | @mixins
   ========================================================================== */

@mixin placeholder-content {
  &::-webkit-input-placeholder {
     @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
     @content;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
     @content;
  }
  &:-ms-input-placeholder {
     @content;
  }
}

@mixin placeholder {
  @include placeholder-content {
    @content;
  }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin breakpoint($foo) {
  @media only screen and (min-width: $foo + px) { @content; }
}

@mixin tablet {
  @include breakpoint($tablet) {
    @content;
  }
}

@mixin desktop {
  @include breakpoint($desktop) {
    @content;
  }
}

@mixin desktop-lg {
  @include breakpoint($desktop-lg) {
    @content;
  }
}

@mixin desktop-xl {
  @include breakpoint($desktop-xl) {
    @content;
  }
}

/* Keyframes Mixin */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin landscape {
  @media all and (orientation:landscape) {
    @content;
  }
}

/* Fonts | @fonts
   ========================================================================== */

.bentonsanscondensedbold {
  font-family: "Benton Sans Cond";
  font-style: normal;
  font-weight: bold;
}

$font-benton: 'Helvetica Neue', Helvetica, Arial;

/* first for IE 4–8 */
@font-face {
  font-family: CCWildWordsRegular;
  src: url("../fonts/CCWildWordsRegularWeb.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: CCWildWordsRegular;
  src: url("../fonts/CCWildWordsRegularWeb.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: CCWildWordsItalic;
  src: url("../fonts/CCWildWordsItalicWeb.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: CCWildWordsItalic;
  src: url("../fonts/CCWildWordsItalicWeb.woff") format("woff");
}

$font-wild: 'CCWildWordsRegular', 'Helvetica Neue', Helvetica, Arial;
$font-wild-italic: 'CCWildWordsItalic', 'Helvetica Neue', Helvetica, Arial;

$text-mobile: normal 0.75em/120% $font-wild;
$text-tablet: normal 1em/120% $font-wild;
$text-desktop: normal 0.85em/180% $font-wild;

$text-italic-mobile: normal 0.75em/120% $font-wild-italic;
$text-italic-tablet: normal 1em/120% $font-wild-italic;
$text-italic-desktop: normal 0.85em/180% $font-wild-italic;

/* Helpers | @helpers
   ========================================================================== */

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

/* ==========================================================================
   Custom CSS
   ========================================================================== */

/* Base | @base
   ========================================================================== */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

#grc-app {
  height: 100%;
}

/**
 * helper class for temporarily removing scroll
 */
.grc-stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.grc-section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  &-loader {
    background-color: #1f222d;
    border-bottom: 20px solid black;
    z-index: 200;
  }
  &-1 {
    position: relative;
    overflow: hidden;
    background-color: #2d3343;
    z-index: 80;
  }
  &-2 {
    overflow: hidden;
    z-index: 10;
  }
  &-3 {
    height: auto;
    padding: 2.5% 0;
    text-align: center;
    background-color: white;
    z-index: 20;
    overflow: hidden;
    @include desktop {
      min-height: 100%;
    }
  }
  &-4 {
    // background-color: purple;
    overflow: hidden;
    z-index: 20;
  }
  &-5 {
    background-color: #9fcfda;
    overflow: hidden;
    z-index: 20;
  }
  &-6 {
    height: auto;
    background-color: #888a8c;
    overflow: hidden;
    z-index: 20;
    // @include desktop {
    //   min-height: 100%;
    // }
  }
  &-7 {
    overflow: hidden;
    background-color: #091525;
    height: auto;
    z-index: 20;
    @include desktop {
      height: 100%;
    }
  }
  &-end {
    background-color: #091525;
    z-index: 25;
    @include desktop {
      background-color: transparent;
    }
  }
  &-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    // margin: auto;
    text-align: center;
    display: table;
  }
  &-box {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  &-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 0.75em;
    @include tablet {
      font-size: 1em;
    }
  }
  // &.ie {
  //   &-text {
  //     display: block;
  //   }
  // }
}

/* Section Loader | @loader
   ========================================================================== */

.grc-section-loader {

}

$logo-width: 100px;
$logo-height: 39px;

.grc-section-loader-logo {
  width: $logo-width;
  height: $logo-height;
  margin: auto;
  margin-bottom: 12%;
  clear: both;
  display: block;
  @include landscape {
    margin-bottom: 30px;
  }
  @include tablet {
    width: $logo-width * 2;
    height: $logo-height * 2;
  }
  @include desktop {
    width: $logo-width * 2;
    height: $logo-height * 2;
    margin-bottom: 5%;
  }
}

$title-width: 200px;
$title-height: 92.75px;

.grc-section-loader-title-text {
  position: relative;
  width: $title-width;
  height: $title-height;
  margin: auto;
  margin-bottom: 12%;
  clear: both;
  display: block;
  z-index: 10;
  @include landscape {
    margin-bottom: 10px;
  }
  @include tablet {
    width: $title-width * 2;
    height: $title-height * 2;
  }
  @include desktop {
    width: $title-width * 1.75;
    height: $title-height * 1.75;
    margin-bottom: 5%;
  }
}

.grc-section-loader-text {
  position: relative;
  display: block;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  font-size: 1em;
  text-align: center;
  z-index: 10;
  font-family: $font-benton;
  @include tablet {
    font-size: 2em;
  }
  @include desktop {
    font-size: 1.75em;
  }
}

$arrow-width: 58px;
$arrow-height: 217px;

.grc-section-loader-scrolldown {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  &-text {
    position: relative;
    margin-bottom: 10px;
    display: block;
    clear: both;
    color: white;
    font-size: 0.75em;
    font-family: $font-benton;
    font-weight: bold;
    @include tablet {
      margin-bottom: 20px;
      font-size: 1.5em;
    }
  }
  &-arrow {
    width: $arrow-width/6;
    height: $arrow-height/8;
    @include tablet {
      width: $arrow-width/4;
    height: $arrow-height/4;
    }
  }
}

$ein-width: 400px;
$ein-height: 388px;

.grc-section-loader-einstein {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  margin-bottom: 0;
  width: $ein-width/1.5;
  height: $ein-height/1.5;
  @include tablet {
    width: $ein-width * 1.5;
    height: $ein-height * 1.5;
  }
  @include desktop {
    width: $ein-width * 1.25;
    height: $ein-height * 1.25;
  }
}

/* Animation props */
.grc-section-loader-text,
.grc-section-loader-scrolldown {
  display: none;
}

.grc-section-loader-sound-toggle {
  position: absolute;
  top: 5%;
  right: 5%;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  color: white;
  display: none;
  @include desktop {
    display: block;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
}

/* Section 1 | @s1
   ========================================================================== */

.grc-section-1-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  // background-attachment: fixed;
  background-image: url(../img/s1-bg-mobile.png);
  @include vendor-prefix(background-size, cover);
  @include retina {
    background-image: url(../img/s1-bg-mobile@2x.png);
  }
  @include tablet {
    background-image: url(../img/s1-bg.png);
    @include vendor-prefix(background-size, initial);
  }
}

.grc-section-1-scale-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.grc-section-1-book-cover-container {
  display: none;
  position: absolute;
  left: -18%;
  right: 0;
  bottom: 4%;
  width: 50%;
  height: 50%;
  margin: auto;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  @include vendor-prefix(transform-origin, 50% 50%);
  @include vendor-prefix(transform, ( rotate(-8deg)
                                    scale(1.01) ));
  @include tablet {
    display: block;
    left: -820px;
    bottom: 90px;
    width: 376px;
    height: 531px;
    @include vendor-prefix(transform, ( rotate(-7.5deg)
                                    scale(0.925)
                                    // perspective(2000px)
                                    translateX(-70px)
                                    translateY(0px) ));
  }
}

.grc-section-1-book-cover,
.grc-section-1-book-cover-back {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  @include vendor-prefix(background-size, contain);
  @include vendor-prefix(transform-origin, 0% 0%);
}

.grc-section-1-book-cover {
  backface-visibility: hidden;
  background-image: url(../img/s1-cover.png);
}

.grc-section-1-book-cover-back {
  background-image: url(../img/s1-cover-back.png);
}

.grc-section-1-book-cover-2 {
  width: 825px;
  height: 1173.25px;
  background-image: url('../img/s1-book-cover-spritesheet.png');
  // background-size: (21450px) (628px);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.grc-section-1-text {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto 10%;
  font: $text-italic-mobile;
  color: white;
  @include tablet {
    top: 10%;
    font: $text-italic-tablet;
  }
  @include desktop {
    margin: auto 25%;
    font: $text-italic-desktop;
    text-shadow: 2px 2px #000000;
    z-index: 20;
  }
}

/* Section 2 | @s2
   ========================================================================== */

@include keyframes(scene2Bouncy) {
  0% { @include vendor-prefix(transform, translateY(0px)); }
  50% { @include vendor-prefix(transform, translateY(40px)); }
  100% { @include vendor-prefix(transform, translateY(0px)); }
}

@include keyframes(scene2Float) {
  0% {
    left: 0%; }
  100% {
    left: 150%; }
}

.grc-section-2-bg,
.grc-section-2-bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2d3343;
}

.grc-section-2-bg-stars {
  background-color: transparent;
  background-image: url(../img/s2-stars-mobile.png);
  @include retina {
    background-image: url(../img/s2-stars-mobile@2x.png);
  }
  @include tablet {
    background-image: url(../img/s2-stars.png);
  }
}

.grc-section-2-character {
  position: absolute;
  top: 7%;
  left: 0%;
  right: 0%;
  max-width: 180px;
  margin: auto;
  display: block;
  &.animated {
    @include vendor-prefix(animation, scene2Float 6s linear infinite);
  }
  @include tablet {
    max-width: 100%;
  }
  @include desktop {
    top: 10%;
    left: -25%;
    margin: 0;
    @include vendor-prefix(transform, translateX(-100%));
  }
  @include desktop-xl {
    top: 25%;
  }
}

.grc-section-2-text {
  top: auto;
  bottom: 40px;
  width: 280px;
  margin: auto;
  &-box {
  }
  &-content {
    padding: 20px;
    text-align: left;
    font: $text-italic-mobile;
  }
  @include tablet {
    width: 600px;
    &-content {
      padding: 30px 50px;
      font: $text-italic-tablet;
    }
  }
  @include desktop {
    bottom: 60px;
    &-content {
      font: $text-italic-desktop;
    }
  }
}

.ie .grc-section-2-text {
  display: block;
}

/* Section 3 | @s3
   ========================================================================== */

/* Animation Keyframes */

@include keyframes(scene3MoveBg) {
  from { background-position: 0 0; }
  to { background-position: 0% -100%; }
}

$s3-panel-left-height: 1067px;
$s3-panel-left-width: 800px;

.grc-section-3-panel-left {
  position: relative;
  width: $s3-panel-left-width/3;
  height: $s3-panel-left-height/3;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include vendor-prefix(transform, scale(0.99));
  }
  &-vehicles-container {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    width: (533px*3);
    // height: (43px*3);
    height: 50%;
    max-width: 100%;
    overflow: hidden;
  }
  &-vehicles-container-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include vendor-prefix(transform, rotate(34deg));
  }
  &-vehicles {
    position: absolute;
    top: 10px;
    left: -600px;
    width: (533px*1.5);
    height: (43px*1.5);
  }
  &-char {
    display: none;
    position: absolute;
    top: 62%;
    left: 10%;
  }
  &-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &-text {
    top: 30px;
    left: -6%;
    height: 60px;
    width: 180px;
    &-box {
    }
    &-content {
      padding: 10px;
      text-align: left;
      font: $text-italic-mobile;
    }
    @include tablet {
      top: 40px;
      width: 260px;
      &-content {
        padding: 20px;
        font: $text-italic-tablet;
      }
    }
    @include desktop {
      left: 0;
      &-content {
        font: $text-italic-desktop;
      }
    }
  }
  &-bubble {
    width: 160px;
    top: 70%;
    left: auto;
    right: 0;
    &-box {

    }
    &-content {
      padding: 20px;
      margin-left: 220px;
      font: $text-mobile;
    }
    @include tablet {
      width: 240px;
      &-content {
        padding: 30px;
        font: $text-tablet;
      }
    }
    @include desktop {
      &-content {
        font: $text-desktop;
      }
    }
  }
  @include tablet {
    width: $s3-panel-left-width/1.5;
    height: $s3-panel-left-height/1.5;
  }
  @include desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-left: -30%;
    display: inline-block;
    overflow: hidden;
  }
  @include desktop-xl {
  }
}

$s3-panel-right-height: 956px;
$s3-panel-right-width: 800px;

$s3-panel-right-char-width: 468px;
$s3-panel-right-char-height: 640px;

.grc-section-3-panel-right {
  position: relative;
  width: $s3-panel-right-width/3;
  height: $s3-panel-right-height/3;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 30px;
  &-bg-repeat {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat-y;
    background-image: url(../img/s3-panel-right-bg-repeat.jpg);
    @include vendor-prefix(transform, scale(0.95));
    // &.animated {
    //   @include vendor-prefix(animation, scene3MoveBg 2s linear infinite);
    // }
  }
  &-bg {
    height: 100%;
    width: 100%;
  }
  &-char {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  &-text {
    width: 180px;
    font: $text-mobile;
    @include tablet {
      font: $text-tablet;
    }
    @include desktop {
      font: $text-desktop;
    }
  }
  &-bubble {
    width: 240px;
    top: -160px;
    left: auto;
    &-box {

    }
    &-content {
      padding: 40px;
      font: $text-mobile;
    }
    @include tablet {
      &-content {
        font: $text-tablet;
      }
    }
    @include desktop {
      &-content {
        font: $text-desktop;
      }
    }
  }
  @include tablet {
    width: $s3-panel-right-width/1.5;
    height: $s3-panel-right-height/1.5;
    margin-left: 10%;
    &-bubble {
      width: 300px;
      &-content {
        // padding: 40px;
      }
    }
  }
  @include desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: inline-block;
    position: absolute;
    width: $s3-panel-right-width/2;
    height: $s3-panel-right-height/2;
    &-bg-repeat {
      display: block;
    }
    &-bg {
      position: relative;
    }
    &-char {
      top: 15%;
      width: $s3-panel-right-char-width /2;
      height: $s3-panel-right-char-height /2;
      margin: 0 auto;
    }
    &-char-container {
      position: absolute;
      left: 0;
      top: 4px;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    &-bubble {
      width: 320px;
      top: -120px;
      right: -15%;
    }
  }
}

/* Section 4 | @s4
   ========================================================================== */

.grc-section-4-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  @include vendor-prefix(background-size, cover);
  background-image: url(../img/s4-bg@2x.jpg);
}

$s4-char-width: 518px;
$s4-char-height: 420px;

.grc-section-4-char {
  position: absolute;
  top: 40%;
  left: -15%;
  right: auto;
  max-width: 100%;
  margin: auto;
  @include tablet {
    top: 20%;
    left: 0;
    width: $s4-char-width * 1.5;
    height: $s4-char-height * 1.5;
  }
  @include desktop {
    top: 10%;
    left: 0;
    right: 0;
  }
  @include desktop-xl {
    top: 25%;
  }
}

.grc-section-4-text {
  position: relative;
  top: 5%;
  font-size: 0.75em;
  color: white;
  margin: 5% 10% 0;
  font: $text-italic-mobile;
  &-orange {
    color: #fb7c00;
  }
  &-blue {
    color: #448af9;
  }
  @include tablet {
    font: $text-italic-tablet;
  }
  @include desktop {
    font: $text-italic-desktop;
    max-width: 900px;
    margin: 5% auto 0;
  }
}

.grc-section-4-bubble {
  width: 200px;
  top: auto;
  bottom: 30%;
  left: 40%;
  right: auto;
  margin: 0 auto;
  display: block;
  &-content {
    padding: 20px 40px;
    padding-left: 60px;
    padding-right: 30px;
    font: $text-mobile;
  }
  @include tablet {
    bottom: 35%;
    width: 240px;
    left: 60%;
    line-height: 120%;
    &-content {
      font: $text-tablet;
    }
  }
  @include desktop {
    left: 55%;
    &-content {
      font: $text-desktop;
    }
  }
}

.ie .grc-section-4-bubble {
  display: block;
}

/* Section 5 | @s5
   ========================================================================== */

$b1-height: 308px;
$b1-width: 716px;

.grc-section-5-building-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: $b1-width/4;
  height: $b1-height/4;
  @include tablet {
    width: $b1-width/2;
    height: $b1-height/2;
  }
  @include desktop {
    width: $b1-width/1;
    height: $b1-height/1;
  }
}

$b2-height: 481px;
$b2-width: 252px;

.grc-section-5-building-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: $b2-width/4;
  height: $b2-height/4;
  @include tablet {
    width: $b2-width/2;
    height: $b2-height/2;
  }
  @include desktop {
    width: $b2-width/1;
    height: $b2-height/1;
  }
}

.grc-section-5-text-1,
.grc-section-5-text-2,
.grc-section-5-text-3 {
  font: $text-italic-mobile;
  @include tablet {
    font: $text-italic-tablet;
  }
  @include desktop {
    font-size: 2em;
  }
}

.grc-section-5-text-1 {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 280px;
  margin: auto;
  text-align: center;
  @include tablet {
    top: 34%;
  }
  @include desktop {
    top: 22%;
    @include vendor-prefix(transform, translateX(30%));
  }
}

.grc-section-5-text-2,
.grc-section-5-text-3 {
  display: inline-block;
  @include desktop {
    position: relative;
    top: -100px;
    @include vendor-prefix(transform, translateX(30%));
  }
}

.grc-section-5-text-2 {
  @include desktop {
    margin-right: 9%;
  }
}

.grc-section-5-text-3 {
  @include desktop {
    margin-left: 5%;
  }
}

.grc-section-5-text-row {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  @include tablet {
    top: 35%;
  }
  @include desktop {
    top: 28%;
  }
}

$s5-char-width: 496px;
$s5-char-height: 702px;

.grc-section-5-text-warp {
  position: relative;
  top: -4px;
  max-width: 100px;
  @include tablet {
    max-width: 25%;
  }
}

.grc-section-5-text-warp-animation {
  display: none;
  width: 400px;
  height: 239px;
  background-image: url('../img/s5-warp-animation-spritesheet.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  @include vendor-prefix(transform, translateX(30%));
}

.grc-section-5-char {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0;
  right: 0;
  width: $s5-char-width/3;
  height: $s5-char-height/3;
  margin: auto;
  margin-bottom: 0;
  @include tablet {
    width: $s5-char-width/1.25;
    height: $s5-char-height/1.25;
    @include vendor-prefix(transform, translateX(-100px));
  }
  @include desktop-xl {
    width: $s5-char-width/1;
    height: $s5-char-height/1;
  }
}

.grc-section-5-text {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  &-content {
    padding: 20px;
    font: $text-italic-mobile;
  }
  @include tablet {
    width: 600px;
    margin-top: 20%;
    &-content {
      font: $text-italic-tablet;
    }
  }
  @include desktop {
    top: auto;
    bottom: 50px;
    &-content {
      font: $text-italic-desktop;
    }
  }
  @include desktop-xl {
    bottom: 80px;
  }
}

.ie .grc-section-5-text {
  display: block;
}

.grc-section-5-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Section 6 | @s6
   ========================================================================== */

@include keyframes(scene6MoveChar) {
  0% {
    opacity: 0;
    @include vendor-prefix(transform, translateX(0%));
  }
  15% { opacity: 1 }
  85% { opacity: 1 }
  100% {
    opacity: 0;
    @include vendor-prefix(transform, translateX(250%));
  }
}

@include keyframes(scene6MoveCharDesktop) {
  0% {
    opacity: 0;
    @include vendor-prefix(transform, translateX(0%));
  }
  15% { opacity: 1 }
  85% { opacity: 1 }
  100% {
    opacity: 0;
    @include vendor-prefix(transform, translateX(575%));
  }
}

.grc-section-6-roof-line-container {
  position: relative;
  top: 258px;
  left: 22px;
  right: 0;
  margin: auto;
  width: 75%;
  height: 60px;
  overflow: hidden;
  display: none;
  @include vendor-prefix(transform, translateX(-140px));
}

.grc-section-6-roof-line {
  position: absolute;
  right: 0;
  max-width: 100%;
  @include vendor-prefix(transform, translateX(0%));
  @include vendor-prefix(transition, transform 1s ease-out);
  &.animated {
    @include vendor-prefix(transform, translateX(-90%));
  }
}

$s6-graph-width: 2000px;
$s6-graph-height: 1667px;

.grc-section-6-graph-mobile-1,
.grc-section-6-graph-mobile-2 {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  display: block;
  @include tablet {
    position: relative;
    top: -40px;
  }
}

.grc-section-6-graph-mobile-1 {
  padding-bottom: 60px;
}

.grc-section-6-graph-mobile-2 {
  padding-bottom: 60px;
}

$s6-char-width: 310px;
$s6-char-height: 460px;

.grc-section-6-character-container {
  position: relative;
  top: 80px;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  @include tablet {
    top: 140px;
  }
}

.grc-section-6-character {
  position: relative;
  width: $s6-char-width/6;
  height: $s6-char-height/6;
  @include vendor-prefix(animation, scene6MoveChar 2s linear infinite);
  @include tablet {
    width: $s6-char-width/3;
    height: $s6-char-height/3;
  }
}

.grc-section-6-character-desktop {
  position: absolute;
  top: 20%;
  left: 0;
  display: none;
  width: $s6-char-width/4;
  height: $s6-char-height/4;
  @include vendor-prefix(animation, scene6MoveCharDesktop 2s linear infinite);
}

.grc-section-6-text-1,
.grc-section-6-text-2,
.grc-section-6-text-3 {
  max-width: 600px;
  color: white;
  margin: 0 10%;
  font: $text-mobile;
  @include tablet {
    font: $text-tablet;
  }
  @include desktop {
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    margin: auto;
    font: $text-desktop;
  }
}

.grc-section-6-text-1 {
  padding-top: 80px;
  span {
    color: black;
  }
  @include desktop {
    width: 60%;
    max-width: 800px;
  }
}

.grc-section-6-text-2 {
  padding-top: 40px;
  // padding-bottom: 60px;
  span {
    color: #ffeb40;
  }
  @include desktop {
    top: 15%;
    left: 5%;
    right: auto;
    width: 400px;
    padding-top: 0;
  }
  @include desktop-xl {
    left: 15%;
  }
}

.grc-section-6-text-3 {
  padding-bottom: 80px;
}

.grc-section-6-graph-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 809px;
  height: 672px;
  display: none;
}

.grc-section-6-graph {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  @include vendor-prefix(transform, translateX(-140px));
}

.grc-section-6-graph-animation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 809px;
  height: 672px;
  background-image: url('../img/s6-graph-animation-spritesheet.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: none;
  opacity: 0;
  @include vendor-prefix(transform, translateX(-140px));
}

.grc-section-6-bubble {
  position: inherit;
  padding-bottom: 80px;
  margin: 0 10%;
  &-box {
    display: none;
  }
  &-content {
    font: $text-mobile;
    color: white;
  }
  @include tablet {
    &-content {
      font: $text-tablet;
    }
  }
  @include desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 320px;
    height: 320px;
    @include vendor-prefix(transform, translateX(400px));
    // END IMAGE BUBBLE CSS

    &-box {
      position: absolute;
      top: 0;
      left: -10px;
      width: 100%;
      height: 100%;
      // END IMAGE BUBBLE CSS

      display: block;
    }
    &-content {
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 80%;
      height: 100%;
      // END IMAGE BUBBLE CSS

      font: $text-desktop;
      color: black;
    }
  }
}

$s6-char-width: 387px;
$s6-char-height: 600px;

.grc-section-6-char {
  position: absolute;
  bottom: 210px;
  left: 0;
  right: 0;
  margin: auto;
  width: $s6-char-width / 5;
  height: $s6-char-height / 5;
  @include vendor-prefix( transform, translateX(185%) );
  @include tablet {
    width: $s6-char-width / 2;
    height: $s6-char-height / 2;
  }
  @include desktop {
    // width: $s6-char-width / 2;
    // height: $s6-char-height / 2;
    top: 0;
    bottom: 0;
    @include vendor-prefix( transform, translateX(270px) translateY(240px) );
  }
}

/* Section 7 | @s7
   ========================================================================== */

.grc-section-7 {
  padding-top: 140px;
  &-chair {
    display: block;
    margin: 80px auto;
    width: (412px/2);
    height: (437px/2);
  }
  &-equation-container,
  &-cosmos-container {
    position: relative;
    padding-top: 140px;
  }
  &-equation-container {
    min-height: 660px;
  }
  &-cosmos-container {
    min-height: 540px;
  }
  &-main-equation,
  &-equation-1,
  &-equation-2,
  &-equation-3,
  &-equation-4,
  &-equation-5,
  &-char,
  &-blackhole,
  &-jupiter,
  &-planet,
  &-comet,
  &-stars {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &-main-equation {
    top: 55%;
    width: (400px/2);
    height: (152px/2);
    z-index: 20;
  }
  &-equation-1 {
    top: 44%;
    left: auto;
    right: 2%;
    width: (894px/3);
    height: (84px/3);
    img {
      width: (894px/3);
      height: (84px/3);
    }
  }
  &-equation-2 {
    top: 36%;
    left: auto;
    right: 15%;
    width: (475px/3);
    height: (106px/3);
    img {
      width: (475px/3);
      height: (106px/3);
    }
  }
  &-equation-3 {
    top: 28%;
    left: 5%;
    right: auto;
    width: (455px/3);
    height: (77px/3);
    img {
      width: (455px/3);
      height: (77px/3);
    }
  }
  &-equation-4 {
    top: 22%;
    width: (177px/3);
    height: (87px/3);
    img {
      width: (177px/3);
      height: (87px/3);
    }
  }
  &-equation-5 {
    top: 17%;
    left: 30%;
    width: (254px/3);
    height: (49px/3);
    img {
      width: (254px/3);
      height: (49px/3);
    }
  }
  &-char {
    bottom: 0;
    width: (386px/3);
    height: (750px/3);
  }
  &-blackhole {
    top: 15%;
    right: auto;
    left: 5%;
    width: (500px/4);
    height: (934px/4);
  }
  &-jupiter {
    top: 15%;
    width: (145px/4);
    height: (228px/4);
  }
  &-planet {
    left: auto;
    right: 15%;
    width: (194px/4);
    height: (174px/4);
  }
  &-comet {
    bottom: 45%;
    left: auto;
    width: (526px/4);
    height: (401px/4);
  }
  &-stars {
    width: (1858px/4);
    height: (1083px/4);
  }
  @include tablet {
    &-chair {
      width: (412px/1.75);
      height: (437px/1.75);
    }
    &-equation-container {
      min-height: 960px;
    }
    &-cosmos-container {
      min-height: 760px;
    }
    &-main-equation {
      top: 47%;
      width: (400px/1);
      height: (152px/1);
    }
    &-equation-1 {
      top: 38%;
      width: (894px/1.75);
      height: (84px/1.75);
      img {
        width: (894px/1.75);
        height: (84px/1.75);
      }
    }
    &-equation-2 {
      top: 28%;
      left: auto;
      right: 15%;
      width: (475px/1.75);
      height: (106px/1.75);
      img {
        width: (475px/1.75);
        height: (106px/1.75);
      }
    }
    &-equation-3 {
      top: 23%;
      left: 5%;
      right: auto;
      width: (455px/1.75);
      height: (77px/1.75);
      img {
        width: (455px/1.75);
        height: (77px/1.75);
      }
    }
    &-equation-4 {
      top: 12%;
      width: (177px/1.75);
      height: (87px/1.75);
      img {
        width: (177px/1.75);
        height: (87px/1.75);
      }
    }
    &-equation-5 {
      top: 19%;
      left: 30%;
      width: (254px/1.75);
      height: (49px/1.75);
      img {
        width: (254px/1.75);
        height: (49px/1.75);
      }
    }
    &-char {
      bottom: 0;
      width: (386px/1.75);
      height: (750px/1.75);
    }
    &-blackhole {
      top: 15%;
      right: auto;
      left: 5%;
      width: (500px/3);
      height: (934px/3);
    }
    &-jupiter {
      top: 15%;
      width: (145px/3);
      height: (228px/3);
    }
    &-planet {
      left: auto;
      right: 15%;
      width: (194px/3);
      height: (174px/3);
    }
    &-comet {
      bottom: 45%;
      left: auto;
      width: (526px/3);
      height: (401px/3);
    }
    &-stars {
      width: (1858px/3);
      height: (1083px/3);
    }
  }
  @include desktop {
    padding-top: 0;
    &-chair {
      position: absolute;
      bottom: 0;
      left: 15%;
      width: (412px/1.25);
      height: (437px/1.25);
      margin: 0;
    }
    &-equation-container,
    &-cosmos-container {
      min-height: auto;
      padding-top: 0;
    }
    &-cosmos-container {
      position: relative;
      left: 120%;
      min-height: 100%;
    }
    &-equation-container {
      position: absolute;
      left: 40%;
      width: 80%;
      max-width: 800px;
      min-height: 100%;
      z-index: 10;
    }
    &-equation-1 {
      top: auto;
      bottom: 45%;
      left: 0;
      right: auto;
      z-index: 10;
    }
    &-equation-2 {
      top: auto;
      bottom: 35%;
      right: auto;
      left: 15%;
      z-index: 10;
    }
    &-equation-3 {
      top: auto;
      bottom: 29%;
      left: 40%;
      right: auto;
      z-index: 10;
    }
    &-equation-4 {
      top: auto;
      bottom: 24%;
      left: 15%;
      right: auto;
      z-index: 10;
    }
    &-equation-5 {
      bottom: 20%;
      top: auto;
      right: auto;
      left: 60%;
      z-index: 10;
    }
    &-char {
      bottom: 0%;
      width: (386px/1.25);
      height: (750px/1.25);
    }
    &-blackhole {
      width: (500px/1.5);
      height: (934px/1.5);
    }
    &-jupiter {
      top: 25%;
      width: (145px/1.5);
      height: (228px/1.5);
    }
    &-planet {
      left: auto;
      top: 15%;
      right: 15%;
      width: (194px/1.5);
      height: (174px/1.5);
    }
    &-comet {
      position: fixed;
      top: 45%;
      bottom: auto;
      left: auto;
      width: (526px/1.5);
      height: (401px/1.5);
    }
    &-stars {
      width: (1858px/1.5);
      height: (1083px/1.5);
    }
    @include desktop-xl {
      &-stars {
        width: (1858px);
        height: (1083px);
      }
    }
  }
}

/* Text */

.grc-section-7-text-1 {
  position: absolute;
  top: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  &-content {
    padding: 20px;
    font: $text-italic-mobile;
  }
  @include tablet {
    width: 600px;
    margin-top: 5%;
    &-content {
      font: $text-italic-tablet;
    }
  }
  @include desktop {
    top: 0%;
    left: 5%;
    right: auto;
    bottom: auto;
    width: 300px;
    &-content {
      font: $text-italic-desktop;
    }
  }
}

.grc-section-7-text-2 {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  &-content {
    padding: 20px;
    font: $text-italic-mobile;
  }
  @include tablet {
    width: 600px;
    margin-top: 0;
    &-content {
      font: $text-italic-tablet;
    }
  }
  @include desktop {
    top: auto;
    left: auto;
    right: 0;
    bottom: 55%;
    width: 300px;
    z-index: 21;
    &-content {
      font: $text-italic-desktop;
    }
  }
}

.grc-section-7-text-3 {
  position: absolute;
  top: auto;
  bottom: 40px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  &-content {
    padding: 20px;
    font: $text-italic-mobile;
  }
  @include tablet {
    width: 600px;
    margin-top: 20%;
    &-content {
      font: $text-italic-tablet;
    }
  }
  @include desktop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &-box {
      z-index: -1;
    }
    &-content {
      position: relative;
      z-index: 20;
      font: $text-italic-desktop;
    }
  }
}

/* SVG Animations */

#s7-svg {
  position: absolute;
  bottom: 55%;
  left: 35%;
  z-index: 15;
  display: none;
}

/* Section End | @end
   ========================================================================== */

.grc-section-end {
  position: relative;
  overflow: hidden;
  min-height: 720px;
  &-stars-mobile,
  &-stars-desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    @include tablet {
      min-width: 100%;
      min-height: 90%;
    }
  }
  &-stars-mobile {
    @include desktop {
      display: none;
    }
  }
  &-stars-desktop {
    display: none;
    @include desktop {
      // display: block;
    }
  }
  &-text {
    width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: $font-benton;
    line-height: 120%;
    @include tablet {
      font-family: $font-benton;
    }
    @include desktop {
      font-family: $font-benton;
      font-size: 2em;
    }
  }
  &-social-container {
    position: relative;
    top: 2.5%;
    text-align: center;
  }
  &-social-icon {
    display: inline-block;
    padding: 20px;
    img {
      height: 80px;
      width: 80px;
    }
    @include tablet {
      padding: 40px;
      img {
        // height: 120px;
        // width: 120px;
      }
    }
    // @include desktop {
    //   img {
    //     height: 80px;
    //     width: 80px;
    //   }
    // }
  }
  @include desktop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
  }
}

.grc-section-end-logo-link {
  position: relative;
  width: $logo-width;
  height: $logo-height;
  margin: 0 auto;
  margin-bottom: 12%;
  margin-top: 40%;
  z-index: 20;
  clear: both;
  display: block;
  @include landscape {
    margin-bottom: 30px;
  }
  @include tablet {
    margin-top: 15%;
    width: $logo-width * 2;
    height: $logo-height * 2;
  }
  @include desktop {
    margin-top: 5%;
    width: $logo-width * 2;
    height: $logo-height * 2;
    margin-bottom: 5%;
  }
}

.grc-section-end-logo {
  width: $logo-width;
  height: $logo-height;
  @include tablet {
    width: $logo-width * 2;
    height: $logo-height * 2;
  }
  @include desktop {
    width: $logo-width * 2;
    height: $logo-height * 2;
  }
}

.grc-section-end-title-text {
  position: relative;
  width: $title-width;
  height: $title-height;
  margin: auto;
  margin-bottom: 12%;
  clear: both;
  display: block;
  z-index: 10;
  @include landscape {
    margin-bottom: 10px;
  }
  @include tablet {
    margin-bottom: 8%;
    width: $title-width * 2;
    height: $title-height * 2;
  }
  @include desktop {
    width: $title-width * 1.75;
    height: $title-height * 1.75;
    margin-bottom: 5%;
  }
}