/**
 * CONTENTS
 *
 * SETUP
 * XX.........................................@XX | Description.
 * YY.........................................@YY | Description.
 *
 * CUSTOM CSS
 * Loading Splash.............................@loading | Loading splash.
 * Base.......................................@base | Base CSS.
 *
 */

/**
 * Use @tag to jump to sections
 */

/* ==========================================================================
   Setup
   ========================================================================== */

/* Variables | @variables
   ========================================================================== */

/* Project Breakpoints */
$tablet: 768;
$desktop: 992;
$desktop-lg: 1200;
$desktop-xl: 1600;

/* Mixins | @mixins
   ========================================================================== */

@mixin placeholder-content {
  &::-webkit-input-placeholder {
     @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
     @content;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
     @content;
  }
  &:-ms-input-placeholder {
     @content;
  }
}

@mixin placeholder {
  @include placeholder-content {
    @content;
  }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin breakpoint($foo) {
  @media only screen and (min-width: $foo + px) { @content; }
}

@mixin tablet {
  @include breakpoint($tablet) {
    @content;
  }
}

@mixin desktop {
  @include breakpoint($desktop) {
    @content;
  }
}

@mixin desktop-lg {
  @include breakpoint($desktop-lg) {
    @content;
  }
}

@mixin desktop-xl {
  @include breakpoint($desktop-xl) {
    @content;
  }
}

/* Keyframes Mixin */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


/* ==========================================================================
   Custom CSS
   ========================================================================== */

/* Loading Splash | @loading
   ========================================================================== */

#grc-app-loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: brown;
  z-index: 1000;
}

.grc-app-loading-heading {
  width: 100%;
  text-align: center;
  color: white;
}

/* Base | @base
   ========================================================================== */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#grc-app {
  height: 100%;
}

/**
 * helper class for temporarily removing scroll
 */
.grc-stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.grc-section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  p {
    margin: 0;
    padding: 0;
    font-size: 3em;
  }
  &-1 {
    position: relative;
    overflow: hidden;
  }
  &-2 {
    background-color: red;
    overflow: hidden;
  }
  &-3 {
    background-color: blue;
  }
  &-4 {
    background-color: purple;
    overflow: hidden;
  }
  &-5 {
    background-color: green;
  }
  &-6 {
    background-color: brown;
  }
  &-7 {
    background-color: #111;
  }
}

/* Section 1 | @s1
   ========================================================================== */

.grc-section-1-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  // @include vendor-prefix(background-size, cover);
  background-image: url(../img/bg-hole.png);
}

.grc-section-1-book-cover-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 278px;
  height: 375px;
  margin: auto;

  @include vendor-prefix(transform-origin, 50% 50%);
  @include vendor-prefix(transform, ( rotate(-7deg)
                                      scale(1.01)
                                      translateX(-46px)
                                      translateY(-6px) ));
}

.grc-section-1-book-cover,
.grc-section-1-book-cover-back {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  @include vendor-prefix(transform-origin, 0% 0%);
}

.grc-section-1-book-cover {
  backface-visibility: hidden;
  background-image: url(../img/cover.png);
}

.grc-section-1-book-cover-back {
  background-image: url(../img/stars.png);
}

.grc-section-1-book-cover-top-shadow {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 99%;
  width: 90%;
  margin: auto;
  background-color: rgba(0,0,0,0.25);

  backface-visibility: hidden;

  @include vendor-prefix(box-shadow, 0px 0px 2px 4px rgba(0,0,0,0.25));
  @include vendor-prefix(border-radius, 1px);
  @include vendor-prefix(transform-origin, 0% 0%);
}

.grc-section-1-book-cover-top-shadow {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(black, 0.5)), color-stop(100%, rgba(black, 0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(black, 0.5) 0%, rgba(black, 0.1) 100%); /* Chrome10+,Safari5.1+ */
}

/* Section 2 | @s2
   ========================================================================== */

.grc-section-2-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  // @include vendor-prefix(background-size, cover);
  background-image: url(../img/giraffe.jpg);
}

.grc-section-2-character {
  position: absolute;
  top: 23%;
  left: -20%;
  display: block;
}

/* Section 3 | @s3
   ========================================================================== */

/* Animation Keyframes */

@include keyframes(scene2MoveBg) {
  from { background-position: 0 0; }
  to { background-position: 0% -100%; }
}

.grc-section-3-panel-right {
  position: absolute;
  right: 20%;
  height: 500px;
  width: 400px;
  background-repeat: repeat-y;
  background-image: url(../img/s3-panel-right-bg.jpg);
  &.animated {
    @include vendor-prefix(animation, scene2MoveBg 4s linear infinite);
  }
}

/* Section 4 | @s4
   ========================================================================== */

.grc-section-4-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  // @include vendor-prefix(background-size, cover);
  background-image: url(../img/s4-bg.jpg);
}

/* Section 5 | @s5
   ========================================================================== */

.grc-section-5-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  // background-attachment: fixed;
  @include vendor-prefix(background-size, 80%);
  background-image: url(../img/s5-bg.jpg);
}

.grc-section-5-text-warp {
  position: relative;
  max-width: 200px;
}

/* Section 6 | @s6
   ========================================================================== */

.grc-section-6-roof-line-container {
  position: relative;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 60px;
  overflow: hidden;
}

.grc-section-6-roof-line {
  position: absolute;
  right: 0;
  max-width: 100%;
  @include vendor-prefix(transform, translateX(-90%));
  @include vendor-prefix(transition, transform 1s ease-out);
  &.animated {
    @include vendor-prefix(transform, translateX(0%));
  }
}

/* Section 7 | @s7
   ========================================================================== */

.grc-section-7-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // z-index: -1;
}

.grc-section-7-cosmos {
  min-height: 100%;
  max-height: 100%;
}

#s7-svg {
  position: relative;
  left: 25%;
  z-index: 999;
}