@charset "UTF-8";
/**
 * CONTENTS
 *
 * SETUP
 * XX.........................................@XX | Description.
 * YY.........................................@YY | Description.
 *
 * CUSTOM CSS
 * Loading Splash.............................@loading | Loading splash.
 * Base.......................................@base | Base CSS.
 *
 */
/**
 * Use @tag to jump to sections
 */
/* ==========================================================================
   Setup
   ========================================================================== */
/* Variables | @variables
   ========================================================================== */
/* Project Breakpoints */
/* Mixins | @mixins
   ========================================================================== */
/* Keyframes Mixin */
/* Fonts | @fonts
   ========================================================================== */
.bentonsanscondensedbold {
  font-family: "Benton Sans Cond";
  font-style: normal;
  font-weight: bold; }

/* first for IE 4–8 */
@font-face {
  font-family: CCWildWordsRegular;
  src: url("../fonts/CCWildWordsRegularWeb.eot"); }
/* then for WOFF-capable browsers */
@font-face {
  font-family: CCWildWordsRegular;
  src: url("../fonts/CCWildWordsRegularWeb.woff") format("woff"); }
/* first for IE 4–8 */
@font-face {
  font-family: CCWildWordsItalic;
  src: url("../fonts/CCWildWordsItalicWeb.eot"); }
/* then for WOFF-capable browsers */
@font-face {
  font-family: CCWildWordsItalic;
  src: url("../fonts/CCWildWordsItalicWeb.woff") format("woff"); }
/* Helpers | @helpers
   ========================================================================== */
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  .clearfix:after {
    clear: both; }

/* ==========================================================================
   Custom CSS
   ========================================================================== */
/* Base | @base
   ========================================================================== */
html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-size: 16px; }

#grc-app {
  height: 100%; }

/**
 * helper class for temporarily removing scroll
 */
.grc-stop-scrolling {
  height: 100%;
  overflow: hidden; }

.grc-section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  .grc-section-loader {
    background-color: #1f222d;
    border-bottom: 20px solid black;
    z-index: 200; }
  .grc-section-1 {
    position: relative;
    overflow: hidden;
    background-color: #2d3343;
    z-index: 80; }
  .grc-section-2 {
    overflow: hidden;
    z-index: 10; }
  .grc-section-3 {
    height: auto;
    padding: 2.5% 0;
    text-align: center;
    background-color: white;
    z-index: 20;
    overflow: hidden; }
    @media only screen and (min-width: 992px) {
      .grc-section-3 {
        min-height: 100%; } }
  .grc-section-4 {
    overflow: hidden;
    z-index: 20; }
  .grc-section-5 {
    background-color: #9fcfda;
    overflow: hidden;
    z-index: 20; }
  .grc-section-6 {
    height: auto;
    background-color: #888a8c;
    overflow: hidden;
    z-index: 20; }
  .grc-section-7 {
    overflow: hidden;
    background-color: #091525;
    height: auto;
    z-index: 20; }
    @media only screen and (min-width: 992px) {
      .grc-section-7 {
        height: 100%; } }
  .grc-section-end {
    background-color: #091525;
    z-index: 25; }
    @media only screen and (min-width: 992px) {
      .grc-section-end {
        background-color: transparent; } }
  .grc-section-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    text-align: center;
    display: table; }
  .grc-section-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .grc-section-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 0.75em; }
    @media only screen and (min-width: 768px) {
      .grc-section-content {
        font-size: 1em; } }

/* Section Loader | @loader
   ========================================================================== */
.grc-section-loader-logo {
  width: 100px;
  height: 39px;
  margin: auto;
  margin-bottom: 12%;
  clear: both;
  display: block; }
  @media all and (orientation: landscape) {
    .grc-section-loader-logo {
      margin-bottom: 30px; } }
  @media only screen and (min-width: 768px) {
    .grc-section-loader-logo {
      width: 200px;
      height: 78px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-loader-logo {
      width: 200px;
      height: 78px;
      margin-bottom: 5%; } }

.grc-section-loader-title-text {
  position: relative;
  width: 200px;
  height: 92.75px;
  margin: auto;
  margin-bottom: 12%;
  clear: both;
  display: block;
  z-index: 10; }
  @media all and (orientation: landscape) {
    .grc-section-loader-title-text {
      margin-bottom: 10px; } }
  @media only screen and (min-width: 768px) {
    .grc-section-loader-title-text {
      width: 400px;
      height: 185.5px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-loader-title-text {
      width: 350px;
      height: 162.3125px;
      margin-bottom: 5%; } }

.grc-section-loader-text {
  position: relative;
  display: block;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  font-size: 1em;
  text-align: center;
  z-index: 10;
  font-family: "Helvetica Neue", Helvetica, Arial; }
  @media only screen and (min-width: 768px) {
    .grc-section-loader-text {
      font-size: 2em; } }
  @media only screen and (min-width: 992px) {
    .grc-section-loader-text {
      font-size: 1.75em; } }

.grc-section-loader-scrolldown {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center; }
  .grc-section-loader-scrolldown-text {
    position: relative;
    margin-bottom: 10px;
    display: block;
    clear: both;
    color: white;
    font-size: 0.75em;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: bold; }
    @media only screen and (min-width: 768px) {
      .grc-section-loader-scrolldown-text {
        margin-bottom: 20px;
        font-size: 1.5em; } }
  .grc-section-loader-scrolldown-arrow {
    width: 9.66667px;
    height: 27.125px; }
    @media only screen and (min-width: 768px) {
      .grc-section-loader-scrolldown-arrow {
        width: 14.5px;
        height: 54.25px; } }

.grc-section-loader-einstein {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  margin-bottom: 0;
  width: 266.66667px;
  height: 258.66667px; }
  @media only screen and (min-width: 768px) {
    .grc-section-loader-einstein {
      width: 600px;
      height: 582px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-loader-einstein {
      width: 500px;
      height: 485px; } }

/* Animation props */
.grc-section-loader-text,
.grc-section-loader-scrolldown {
  display: none; }

.grc-section-loader-sound-toggle {
  position: absolute;
  top: 5%;
  right: 5%;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  color: white;
  display: none; }
  @media only screen and (min-width: 992px) {
    .grc-section-loader-sound-toggle {
      display: block; } }
  .grc-section-loader-sound-toggle a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-transform: uppercase; }

/* Section 1 | @s1
   ========================================================================== */
.grc-section-1-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../img/s1-bg-mobile.png);
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .grc-section-1-bg {
      background-image: url(../img/s1-bg-mobile@2x.png); } }
  @media only screen and (min-width: 768px) {
    .grc-section-1-bg {
      background-image: url(../img/s1-bg.png);
      -webkit-background-size: initial;
      -ms-background-size: initial;
      -moz-background-size: initial;
      -o-background-size: initial;
      background-size: initial; } }

.grc-section-1-scale-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.grc-section-1-book-cover-container {
  display: none;
  position: absolute;
  left: -18%;
  right: 0;
  bottom: 4%;
  width: 50%;
  height: 50%;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-8deg) scale(1.01);
  -ms-transform: rotate(-8deg) scale(1.01);
  -moz-transform: rotate(-8deg) scale(1.01);
  -o-transform: rotate(-8deg) scale(1.01);
  transform: rotate(-8deg) scale(1.01); }
  @media only screen and (min-width: 768px) {
    .grc-section-1-book-cover-container {
      display: block;
      left: -820px;
      bottom: 90px;
      width: 376px;
      height: 531px;
      -webkit-transform: rotate(-7.5deg) scale(0.925) translateX(-70px) translateY(0px);
      -ms-transform: rotate(-7.5deg) scale(0.925) translateX(-70px) translateY(0px);
      -moz-transform: rotate(-7.5deg) scale(0.925) translateX(-70px) translateY(0px);
      -o-transform: rotate(-7.5deg) scale(0.925) translateX(-70px) translateY(0px);
      transform: rotate(-7.5deg) scale(0.925) translateX(-70px) translateY(0px); } }

.grc-section-1-book-cover,
.grc-section-1-book-cover-back {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  -ms-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

.grc-section-1-book-cover {
  backface-visibility: hidden;
  background-image: url(../img/s1-cover.png); }

.grc-section-1-book-cover-back {
  background-image: url(../img/s1-cover-back.png); }

.grc-section-1-book-cover-2 {
  width: 833px;
  height: 636px;
  background-image: url("../img/s1-book-cover-spritesheet.png");
  background-repeat: no-repeat;
  background-position: 0px 0px; }

.grc-section-1-text {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto 10%;
  font: normal 0.75em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial;
  color: white; }
  @media only screen and (min-width: 768px) {
    .grc-section-1-text {
      top: 10%;
      font: normal 1em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-1-text {
      margin: auto 25%;
      font: normal 0.85em/180% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial;
      text-shadow: 2px 2px #000000;
      z-index: 20; } }

/* Section 2 | @s2
   ========================================================================== */
@-webkit-keyframes scene2Bouncy {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes scene2Bouncy {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-ms-keyframes scene2Bouncy {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes scene2Bouncy {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes scene2Float {
  0% {
    left: -150%; }
  100% {
    left: 100%; } }
@-moz-keyframes scene2Float {
  0% {
    left: -150%; }
  100% {
    left: 100%; } }
@-ms-keyframes scene2Float {
  0% {
    left: -150%; }
  100% {
    left: 100%; } }
@keyframes scene2Float {
  0% {
    left: -150%; }
  100% {
    left: 100%; } }
.grc-section-2-bg,
.grc-section-2-bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2d3343; }

.grc-section-2-bg-stars {
  background-color: transparent;
  background-image: url(../img/s2-stars-mobile.png); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .grc-section-2-bg-stars {
      background-image: url(../img/s2-stars-mobile@2x.png); } }
  @media only screen and (min-width: 768px) {
    .grc-section-2-bg-stars {
      background-image: url(../img/s2-stars.png); } }

.grc-section-2-character {
  position: absolute;
  top: 7%;
  left: 0%;
  right: 0%;
  max-width: 180px;
  margin: auto;
  display: block; }
  .grc-section-2-character.animated {
    -webkit-animation: scene2Float 6s linear infinite;
    -ms-animation: scene2Float 6s linear infinite;
    -moz-animation: scene2Float 6s linear infinite;
    -o-animation: scene2Float 6s linear infinite;
    animation: scene2Float 6s linear infinite; }
  @media only screen and (min-width: 768px) {
    .grc-section-2-character {
      max-width: 100%; } }
  @media only screen and (min-width: 992px) {
    .grc-section-2-character {
      left: -100%;
      margin: 0; } }

.grc-section-2-text {
  top: auto;
  bottom: 40px;
  width: 280px;
  margin: auto;
  font: normal 0.75em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; }
  .grc-section-2-text-content {
    padding: 20px;
    text-align: left; }
  @media only screen and (min-width: 768px) {
    .grc-section-2-text {
      width: 600px;
      font: normal 1em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; }
      .grc-section-2-text-content {
        padding: 30px 50px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-2-text {
      bottom: 60px;
      font: normal 0.85em/180% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }

.ie .grc-section-2-text {
  display: block; }

/* Section 3 | @s3
   ========================================================================== */
/* Animation Keyframes */
@-webkit-keyframes scene3MoveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0% -100%; } }
@-moz-keyframes scene3MoveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0% -100%; } }
@-ms-keyframes scene3MoveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0% -100%; } }
@keyframes scene3MoveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0% -100%; } }
.grc-section-3-panel-left {
  position: relative;
  width: 266.66667px;
  height: 355.66667px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px; }
  .grc-section-3-panel-left-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99); }
  .grc-section-3-panel-left-vehicles-container {
    display: none;
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 1599px;
    height: 129px;
    max-width: 100%;
    -webkit-transform: rotate(34deg);
    -ms-transform: rotate(34deg);
    -moz-transform: rotate(34deg);
    -o-transform: rotate(34deg);
    transform: rotate(34deg); }
  .grc-section-3-panel-left-vehicles {
    position: relative;
    left: -500px;
    width: 799.5px;
    height: 64.5px; }
  .grc-section-3-panel-left-char {
    display: none;
    position: absolute;
    top: 62%;
    left: 10%; }
  .grc-section-3-panel-left-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .grc-section-3-panel-left-text {
    top: 30px;
    left: -6%;
    height: 60px;
    width: 180px; }
    .grc-section-3-panel-left-text-content {
      padding: 10px;
      text-align: left;
      font: normal 0.75em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; }
    @media only screen and (min-width: 768px) {
      .grc-section-3-panel-left-text {
        top: 40px;
        width: 260px; }
        .grc-section-3-panel-left-text-content {
          padding: 20px;
          font: normal 1em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }
    @media only screen and (min-width: 992px) {
      .grc-section-3-panel-left-text {
        left: 0; }
        .grc-section-3-panel-left-text-content {
          font: normal 0.85em/180% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }
  .grc-section-3-panel-left-bubble {
    width: 160px;
    top: 70%;
    left: auto;
    right: 0; }
    .grc-section-3-panel-left-bubble-content {
      padding: 20px;
      margin-left: 220px;
      font: normal 0.75em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; }
    @media only screen and (min-width: 768px) {
      .grc-section-3-panel-left-bubble {
        width: 240px; }
        .grc-section-3-panel-left-bubble-content {
          padding: 30px;
          font: normal 1em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }
    @media only screen and (min-width: 992px) {
      .grc-section-3-panel-left-bubble-content {
        font: normal 0.85em/180% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 768px) {
    .grc-section-3-panel-left {
      width: 533.33333px;
      height: 711.33333px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-3-panel-left {
      margin: inherit;
      margin-left: -30%;
      display: inline-block;
      overflow: hidden; } }

.grc-section-3-panel-right {
  position: relative;
  width: 266.66667px;
  height: 318.66667px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 30px; }
  .grc-section-3-panel-right-bg-repeat {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat-y;
    background-image: url(../img/s3-panel-right-bg-repeat.jpg);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95); }
  .grc-section-3-panel-right-bg {
    height: 100%;
    width: 100%; }
  .grc-section-3-panel-right-char {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; }
  .grc-section-3-panel-right-text {
    width: 180px;
    font: normal 0.75em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; }
    @media only screen and (min-width: 768px) {
      .grc-section-3-panel-right-text {
        font: normal 1em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }
    @media only screen and (min-width: 992px) {
      .grc-section-3-panel-right-text {
        font: normal 0.85em/180% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }
  .grc-section-3-panel-right-bubble {
    width: 240px;
    top: -160px;
    left: auto; }
    .grc-section-3-panel-right-bubble-content {
      padding: 40px;
      font: normal 0.75em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; }
    @media only screen and (min-width: 768px) {
      .grc-section-3-panel-right-bubble-content {
        font: normal 1em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }
    @media only screen and (min-width: 992px) {
      .grc-section-3-panel-right-bubble-content {
        font: normal 0.85em/180% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 768px) {
    .grc-section-3-panel-right {
      width: 533.33333px;
      height: 637.33333px;
      margin-left: 10%; }
      .grc-section-3-panel-right-bubble {
        width: 300px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-3-panel-right {
      position: relative;
      top: 200px;
      margin: inherit;
      display: inline-block;
      position: absolute;
      width: 400px;
      height: 478px; }
      .grc-section-3-panel-right-bg-repeat {
        display: block; }
      .grc-section-3-panel-right-bg {
        position: relative; }
      .grc-section-3-panel-right-char {
        top: 15%;
        width: 234px;
        height: 320px;
        margin: 0 auto; }
      .grc-section-3-panel-right-char-container {
        position: absolute;
        left: 0;
        top: 4px;
        height: 100%;
        width: 100%;
        overflow: hidden; }
      .grc-section-3-panel-right-bubble {
        width: 320px;
        top: -120px;
        right: -15%; } }

/* Section 4 | @s4
   ========================================================================== */
.grc-section-4-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../img/s4-bg@2x.jpg); }

.grc-section-4-char {
  position: absolute;
  top: 40%;
  left: -15%;
  right: auto;
  max-width: 100%;
  margin: auto; }
  @media only screen and (min-width: 768px) {
    .grc-section-4-char {
      top: 20%;
      left: 0;
      width: 777px;
      height: 630px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-4-char {
      top: 10%;
      left: 0;
      right: 0; } }

.grc-section-4-text {
  position: relative;
  top: 5%;
  font-size: 0.75em;
  color: white;
  margin: 5% 10% 0;
  font: normal 0.75em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; }
  .grc-section-4-text-orange {
    color: #fb7c00; }
  .grc-section-4-text-blue {
    color: #448af9; }
  @media only screen and (min-width: 768px) {
    .grc-section-4-text {
      font: normal 1em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-4-text {
      font: normal 0.85em/180% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial;
      max-width: 900px;
      margin: 5% auto 0; } }

.grc-section-4-bubble {
  width: 200px;
  top: auto;
  bottom: 30%;
  left: 40%;
  right: auto;
  margin: 0 auto;
  display: block; }
  .grc-section-4-bubble-content {
    padding: 20px 40px;
    padding-left: 60px;
    padding-right: 30px;
    font: normal 0.75em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; }
  @media only screen and (min-width: 768px) {
    .grc-section-4-bubble {
      bottom: 35%;
      width: 240px;
      left: 60%;
      line-height: 120%; }
      .grc-section-4-bubble-content {
        font: normal 1em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-4-bubble {
      left: 55%; }
      .grc-section-4-bubble-content {
        font: normal 0.85em/180% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }

.ie .grc-section-4-bubble {
  display: block; }

/* Section 5 | @s5
   ========================================================================== */
.grc-section-5-building-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 179px;
  height: 77px; }
  @media only screen and (min-width: 768px) {
    .grc-section-5-building-1 {
      width: 358px;
      height: 154px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-5-building-1 {
      width: 477.33333px;
      height: 205.33333px; } }

.grc-section-5-building-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63px;
  height: 120.25px; }
  @media only screen and (min-width: 768px) {
    .grc-section-5-building-2 {
      width: 126px;
      height: 240.5px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-5-building-2 {
      width: 168px;
      height: 320.66667px; } }

.grc-section-5-text-1,
.grc-section-5-text-2,
.grc-section-5-text-3 {
  font: normal 0.75em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; }
  @media only screen and (min-width: 768px) {
    .grc-section-5-text-1,
    .grc-section-5-text-2,
    .grc-section-5-text-3 {
      font: normal 1em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-5-text-1,
    .grc-section-5-text-2,
    .grc-section-5-text-3 {
      font-size: 2em; } }

.grc-section-5-text-1 {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 280px;
  margin: auto;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .grc-section-5-text-1 {
      top: 34%; } }
  @media only screen and (min-width: 992px) {
    .grc-section-5-text-1 {
      top: 22%;
      -webkit-transform: translateX(30%);
      -ms-transform: translateX(30%);
      -moz-transform: translateX(30%);
      -o-transform: translateX(30%);
      transform: translateX(30%); } }

.grc-section-5-text-2,
.grc-section-5-text-3 {
  display: inline-block; }
  @media only screen and (min-width: 992px) {
    .grc-section-5-text-2,
    .grc-section-5-text-3 {
      position: relative;
      top: -100px;
      -webkit-transform: translateX(30%);
      -ms-transform: translateX(30%);
      -moz-transform: translateX(30%);
      -o-transform: translateX(30%);
      transform: translateX(30%); } }

@media only screen and (min-width: 992px) {
  .grc-section-5-text-2 {
    margin-right: 9%; } }

@media only screen and (min-width: 992px) {
  .grc-section-5-text-3 {
    margin-left: 5%; } }

.grc-section-5-text-row {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .grc-section-5-text-row {
      top: 35%; } }
  @media only screen and (min-width: 992px) {
    .grc-section-5-text-row {
      top: 28%; } }

.grc-section-5-text-warp {
  position: relative;
  top: -4px;
  max-width: 100px; }
  @media only screen and (min-width: 768px) {
    .grc-section-5-text-warp {
      max-width: 25%; } }

.grc-section-5-text-warp-animation {
  display: none;
  width: 400px;
  height: 239px;
  background-image: url("../img/s5-warp-animation-spritesheet.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  -webkit-transform: translateX(30%);
  -ms-transform: translateX(30%);
  -moz-transform: translateX(30%);
  -o-transform: translateX(30%);
  transform: translateX(30%); }

.grc-section-5-char {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0;
  right: 0;
  width: 165.33333px;
  height: 234px;
  margin: auto;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .grc-section-5-char {
      width: 396.8px;
      height: 561.6px;
      -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -o-transform: translateX(-100px);
      transform: translateX(-100px); } }
  @media only screen and (min-width: 1600px) {
    .grc-section-5-char {
      width: 496px;
      height: 702px; } }

.grc-section-5-text {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px; }
  .grc-section-5-text-content {
    padding: 20px;
    font: normal 0.75em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; }
  @media only screen and (min-width: 768px) {
    .grc-section-5-text {
      width: 600px;
      margin-top: 20%; }
      .grc-section-5-text-content {
        font: normal 1em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-5-text {
      top: auto;
      bottom: 20px; }
      .grc-section-5-text-content {
        font: normal 0.85em/180% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }

.ie .grc-section-5-text {
  display: block; }

/* Section 6 | @s6
   ========================================================================== */
@-webkit-keyframes scene6MoveChar {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(250%);
    -ms-transform: translateX(250%);
    -moz-transform: translateX(250%);
    -o-transform: translateX(250%);
    transform: translateX(250%); } }
@-moz-keyframes scene6MoveChar {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(250%);
    -ms-transform: translateX(250%);
    -moz-transform: translateX(250%);
    -o-transform: translateX(250%);
    transform: translateX(250%); } }
@-ms-keyframes scene6MoveChar {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(250%);
    -ms-transform: translateX(250%);
    -moz-transform: translateX(250%);
    -o-transform: translateX(250%);
    transform: translateX(250%); } }
@keyframes scene6MoveChar {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(250%);
    -ms-transform: translateX(250%);
    -moz-transform: translateX(250%);
    -o-transform: translateX(250%);
    transform: translateX(250%); } }
@-webkit-keyframes scene6MoveCharDesktop {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(550%);
    -ms-transform: translateX(550%);
    -moz-transform: translateX(550%);
    -o-transform: translateX(550%);
    transform: translateX(550%); } }
@-moz-keyframes scene6MoveCharDesktop {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(550%);
    -ms-transform: translateX(550%);
    -moz-transform: translateX(550%);
    -o-transform: translateX(550%);
    transform: translateX(550%); } }
@-ms-keyframes scene6MoveCharDesktop {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(550%);
    -ms-transform: translateX(550%);
    -moz-transform: translateX(550%);
    -o-transform: translateX(550%);
    transform: translateX(550%); } }
@keyframes scene6MoveCharDesktop {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(550%);
    -ms-transform: translateX(550%);
    -moz-transform: translateX(550%);
    -o-transform: translateX(550%);
    transform: translateX(550%); } }
.grc-section-6-roof-line-container {
  position: relative;
  top: 258px;
  left: 22px;
  right: 0;
  margin: auto;
  width: 75%;
  height: 60px;
  overflow: hidden;
  display: none;
  -webkit-transform: translateX(-140px);
  -ms-transform: translateX(-140px);
  -moz-transform: translateX(-140px);
  -o-transform: translateX(-140px);
  transform: translateX(-140px); }

.grc-section-6-roof-line {
  position: absolute;
  right: 0;
  max-width: 100%;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: transform 1s ease-out;
  -ms-transition: transform 1s ease-out;
  -moz-transition: transform 1s ease-out;
  -o-transition: transform 1s ease-out;
  transition: transform 1s ease-out; }
  .grc-section-6-roof-line.animated {
    -webkit-transform: translateX(-90%);
    -ms-transform: translateX(-90%);
    -moz-transform: translateX(-90%);
    -o-transform: translateX(-90%);
    transform: translateX(-90%); }

.grc-section-6-graph-mobile-1,
.grc-section-6-graph-mobile-2 {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  display: block; }
  @media only screen and (min-width: 768px) {
    .grc-section-6-graph-mobile-1,
    .grc-section-6-graph-mobile-2 {
      position: relative;
      top: -40px; } }

.grc-section-6-graph-mobile-1 {
  padding-bottom: 60px; }

.grc-section-6-graph-mobile-2 {
  padding-bottom: 60px; }

.grc-section-6-character-container {
  position: relative;
  top: 80px;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .grc-section-6-character-container {
      top: 140px; } }

.grc-section-6-character {
  position: relative;
  width: 51.66667px;
  height: 76.66667px;
  -webkit-animation: scene6MoveChar 2s linear infinite;
  -ms-animation: scene6MoveChar 2s linear infinite;
  -moz-animation: scene6MoveChar 2s linear infinite;
  -o-animation: scene6MoveChar 2s linear infinite;
  animation: scene6MoveChar 2s linear infinite; }
  @media only screen and (min-width: 768px) {
    .grc-section-6-character {
      width: 103.33333px;
      height: 153.33333px; } }

.grc-section-6-character-desktop {
  position: absolute;
  top: 20%;
  left: 5%;
  display: none;
  width: 77.5px;
  height: 115px;
  -webkit-animation: scene6MoveCharDesktop 2s linear infinite;
  -ms-animation: scene6MoveCharDesktop 2s linear infinite;
  -moz-animation: scene6MoveCharDesktop 2s linear infinite;
  -o-animation: scene6MoveCharDesktop 2s linear infinite;
  animation: scene6MoveCharDesktop 2s linear infinite; }

.grc-section-6-text-1,
.grc-section-6-text-2,
.grc-section-6-text-3 {
  max-width: 600px;
  color: white;
  margin: 0 10%;
  font: normal 0.75em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; }
  @media only screen and (min-width: 768px) {
    .grc-section-6-text-1,
    .grc-section-6-text-2,
    .grc-section-6-text-3 {
      font: normal 1em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-6-text-1,
    .grc-section-6-text-2,
    .grc-section-6-text-3 {
      position: absolute;
      left: 0;
      right: 0;
      top: 5%;
      margin: auto;
      font: normal 0.85em/180% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }

.grc-section-6-text-1 {
  padding-top: 80px; }
  .grc-section-6-text-1 span {
    color: black; }
  @media only screen and (min-width: 992px) {
    .grc-section-6-text-1 {
      width: 60%;
      max-width: 800px; } }

.grc-section-6-text-2 {
  padding-top: 40px; }
  .grc-section-6-text-2 span {
    color: #ffeb40; }
  @media only screen and (min-width: 992px) {
    .grc-section-6-text-2 {
      top: 15%;
      left: 5%;
      right: auto;
      width: 400px;
      padding-top: 0; } }

.grc-section-6-text-3 {
  padding-bottom: 80px; }

.grc-section-6-graph-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 809px;
  height: 672px;
  display: none; }

.grc-section-6-graph {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-transform: translateX(-140px);
  -ms-transform: translateX(-140px);
  -moz-transform: translateX(-140px);
  -o-transform: translateX(-140px);
  transform: translateX(-140px); }

.grc-section-6-graph-animation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 809px;
  height: 672px;
  background-image: url("../img/s6-graph-animation-spritesheet.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: none;
  opacity: 0;
  -webkit-transform: translateX(-140px);
  -ms-transform: translateX(-140px);
  -moz-transform: translateX(-140px);
  -o-transform: translateX(-140px);
  transform: translateX(-140px); }

.grc-section-6-bubble {
  position: inherit;
  padding-bottom: 80px;
  margin: 0 10%; }
  .grc-section-6-bubble-box {
    display: none; }
  .grc-section-6-bubble-content {
    font: normal 0.75em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial;
    color: white; }
  @media only screen and (min-width: 768px) {
    .grc-section-6-bubble-content {
      font: normal 1em/120% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-6-bubble {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 320px;
      height: 320px;
      -webkit-transform: translateX(400px);
      -ms-transform: translateX(400px);
      -moz-transform: translateX(400px);
      -o-transform: translateX(400px);
      transform: translateX(400px); }
      .grc-section-6-bubble-box {
        position: absolute;
        top: 0;
        left: -10px;
        width: 100%;
        height: 100%;
        display: block; }
      .grc-section-6-bubble-content {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 80%;
        height: 100%;
        font: normal 0.85em/180% "CCWildWordsRegular", "Helvetica Neue", Helvetica, Arial;
        color: black; } }

.grc-section-6-char {
  position: absolute;
  bottom: 210px;
  left: 0;
  right: 0;
  margin: auto;
  width: 77.4px;
  height: 120px;
  -webkit-transform: translateX(185%);
  -ms-transform: translateX(185%);
  -moz-transform: translateX(185%);
  -o-transform: translateX(185%);
  transform: translateX(185%); }
  @media only screen and (min-width: 768px) {
    .grc-section-6-char {
      width: 193.5px;
      height: 300px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-6-char {
      top: 0;
      bottom: 0;
      -webkit-transform: translateX(270px) translateY(240px);
      -ms-transform: translateX(270px) translateY(240px);
      -moz-transform: translateX(270px) translateY(240px);
      -o-transform: translateX(270px) translateY(240px);
      transform: translateX(270px) translateY(240px); } }

/* Section 7 | @s7
   ========================================================================== */
.grc-section-7 {
  padding-top: 140px; }
  .grc-section-7-chair {
    display: block;
    margin: 80px auto;
    width: 206px;
    height: 218.5px; }
  .grc-section-7-equation-container, .grc-section-7-cosmos-container {
    position: relative;
    padding-top: 140px; }
  .grc-section-7-equation-container {
    min-height: 660px; }
  .grc-section-7-cosmos-container {
    min-height: 540px; }
  .grc-section-7-main-equation, .grc-section-7-equation-1, .grc-section-7-equation-2, .grc-section-7-equation-3, .grc-section-7-equation-4, .grc-section-7-equation-5, .grc-section-7-char, .grc-section-7-blackhole, .grc-section-7-jupiter, .grc-section-7-planet, .grc-section-7-comet, .grc-section-7-stars {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .grc-section-7-main-equation {
    top: 55%;
    width: 200px;
    height: 76px;
    z-index: 20; }
  .grc-section-7-equation-1 {
    top: 44%;
    left: auto;
    right: 2%;
    width: 298px;
    height: 28px; }
    .grc-section-7-equation-1 img {
      width: 298px;
      height: 28px; }
  .grc-section-7-equation-2 {
    top: 36%;
    left: auto;
    right: 15%;
    width: 158.33333px;
    height: 35.33333px; }
    .grc-section-7-equation-2 img {
      width: 158.33333px;
      height: 35.33333px; }
  .grc-section-7-equation-3 {
    top: 28%;
    left: 5%;
    right: auto;
    width: 151.66667px;
    height: 25.66667px; }
    .grc-section-7-equation-3 img {
      width: 151.66667px;
      height: 25.66667px; }
  .grc-section-7-equation-4 {
    top: 22%;
    width: 59px;
    height: 29px; }
    .grc-section-7-equation-4 img {
      width: 59px;
      height: 29px; }
  .grc-section-7-equation-5 {
    top: 17%;
    left: 30%;
    width: 84.66667px;
    height: 16.33333px; }
    .grc-section-7-equation-5 img {
      width: 84.66667px;
      height: 16.33333px; }
  .grc-section-7-char {
    bottom: 0;
    width: 128.66667px;
    height: 250px; }
  .grc-section-7-blackhole {
    top: 15%;
    right: auto;
    left: 5%;
    width: 125px;
    height: 233.5px; }
  .grc-section-7-jupiter {
    top: 15%;
    width: 36.25px;
    height: 57px; }
  .grc-section-7-planet {
    left: auto;
    right: 15%;
    width: 48.5px;
    height: 43.5px; }
  .grc-section-7-comet {
    bottom: 45%;
    left: auto;
    width: 131.5px;
    height: 100.25px; }
  .grc-section-7-stars {
    width: 464.5px;
    height: 270.75px; }
  @media only screen and (min-width: 768px) {
    .grc-section-7-chair {
      width: 235.42857px;
      height: 249.71429px; }
    .grc-section-7-equation-container {
      min-height: 960px; }
    .grc-section-7-cosmos-container {
      min-height: 760px; }
    .grc-section-7-main-equation {
      top: 47%;
      width: 400px;
      height: 152px; }
    .grc-section-7-equation-1 {
      top: 38%;
      width: 510.85714px;
      height: 48px; }
      .grc-section-7-equation-1 img {
        width: 510.85714px;
        height: 48px; }
    .grc-section-7-equation-2 {
      top: 28%;
      left: auto;
      right: 15%;
      width: 271.42857px;
      height: 60.57143px; }
      .grc-section-7-equation-2 img {
        width: 271.42857px;
        height: 60.57143px; }
    .grc-section-7-equation-3 {
      top: 23%;
      left: 5%;
      right: auto;
      width: 260px;
      height: 44px; }
      .grc-section-7-equation-3 img {
        width: 260px;
        height: 44px; }
    .grc-section-7-equation-4 {
      top: 12%;
      width: 101.14286px;
      height: 49.71429px; }
      .grc-section-7-equation-4 img {
        width: 101.14286px;
        height: 49.71429px; }
    .grc-section-7-equation-5 {
      top: 19%;
      left: 30%;
      width: 145.14286px;
      height: 28px; }
      .grc-section-7-equation-5 img {
        width: 145.14286px;
        height: 28px; }
    .grc-section-7-char {
      bottom: 0;
      width: 220.57143px;
      height: 428.57143px; }
    .grc-section-7-blackhole {
      top: 15%;
      right: auto;
      left: 5%;
      width: 166.66667px;
      height: 311.33333px; }
    .grc-section-7-jupiter {
      top: 15%;
      width: 48.33333px;
      height: 76px; }
    .grc-section-7-planet {
      left: auto;
      right: 15%;
      width: 64.66667px;
      height: 58px; }
    .grc-section-7-comet {
      bottom: 45%;
      left: auto;
      width: 175.33333px;
      height: 133.66667px; }
    .grc-section-7-stars {
      width: 619.33333px;
      height: 361px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-7 {
      padding-top: 0; }
      .grc-section-7-chair {
        position: absolute;
        bottom: 0;
        left: 15%;
        margin: 0; }
      .grc-section-7-equation-container, .grc-section-7-cosmos-container {
        min-height: auto;
        padding-top: 0; }
      .grc-section-7-cosmos-container {
        position: relative;
        left: 120%; }
      .grc-section-7-equation-container {
        position: absolute;
        left: 40%;
        width: 80%;
        max-width: 800px;
        min-height: 100%; }
      .grc-section-7-equation-1 {
        top: auto;
        bottom: 45%;
        left: 0;
        right: auto;
        z-index: 10; }
      .grc-section-7-equation-2 {
        top: auto;
        bottom: 35%;
        right: auto;
        left: 15%;
        z-index: 10; }
      .grc-section-7-equation-3 {
        top: auto;
        bottom: 29%;
        left: 40%;
        right: auto;
        z-index: 10; }
      .grc-section-7-equation-4 {
        top: auto;
        bottom: 24%;
        left: 15%;
        right: auto;
        z-index: 10; }
      .grc-section-7-equation-5 {
        bottom: 20%;
        top: auto;
        right: auto;
        left: 60%;
        z-index: 10; }
      .grc-section-7-char {
        bottom: 0%;
        width: 308.8px;
        height: 600px; }
      .grc-section-7-blackhole {
        width: 333.33333px;
        height: 622.66667px; }
      .grc-section-7-jupiter {
        top: 25%;
        width: 96.66667px;
        height: 152px; }
      .grc-section-7-planet {
        left: auto;
        top: 15%;
        right: 15%;
        width: 129.33333px;
        height: 116px; }
      .grc-section-7-comet {
        position: fixed;
        top: 45%;
        bottom: auto;
        left: auto;
        width: 350.66667px;
        height: 267.33333px; }
      .grc-section-7-stars {
        width: 1238.66667px;
        height: 722px; } }

/* Text */
.grc-section-7-text-1 {
  position: absolute;
  top: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px; }
  .grc-section-7-text-1-content {
    padding: 20px;
    font: normal 0.75em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; }
  @media only screen and (min-width: 768px) {
    .grc-section-7-text-1 {
      width: 600px;
      margin-top: 5%; }
      .grc-section-7-text-1-content {
        font: normal 1em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-7-text-1 {
      top: 0%;
      left: 5%;
      right: auto;
      bottom: auto;
      width: 300px; }
      .grc-section-7-text-1-content {
        font: normal 0.85em/180% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }

.grc-section-7-text-2 {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px; }
  .grc-section-7-text-2-content {
    padding: 20px;
    font: normal 0.75em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; }
  @media only screen and (min-width: 768px) {
    .grc-section-7-text-2 {
      width: 600px;
      margin-top: 0; }
      .grc-section-7-text-2-content {
        font: normal 1em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-7-text-2 {
      top: auto;
      left: auto;
      right: 0;
      bottom: 55%;
      width: 300px;
      z-index: 21; }
      .grc-section-7-text-2-content {
        font: normal 0.85em/180% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }

.grc-section-7-text-3 {
  position: absolute;
  top: auto;
  bottom: 40px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px; }
  .grc-section-7-text-3-content {
    padding: 20px;
    font: normal 0.75em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; }
  @media only screen and (min-width: 768px) {
    .grc-section-7-text-3 {
      width: 600px;
      margin-top: 20%; }
      .grc-section-7-text-3-content {
        font: normal 1em/120% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }
  @media only screen and (min-width: 992px) {
    .grc-section-7-text-3 {
      position: fixed;
      top: auto;
      left: auto;
      right: 1%;
      bottom: 20px; }
      .grc-section-7-text-3-box {
        z-index: -1; }
      .grc-section-7-text-3-content {
        position: relative;
        z-index: 20;
        font: normal 0.85em/180% "CCWildWordsItalic", "Helvetica Neue", Helvetica, Arial; } }

/* SVG Animations */
#s7-svg {
  position: absolute;
  bottom: 55%;
  left: 35%;
  z-index: 15;
  display: none; }

/* Section End | @end
   ========================================================================== */
.grc-section-end {
  position: relative;
  overflow: hidden;
  min-height: 720px; }
  .grc-section-end-stars-mobile, .grc-section-end-stars-desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%; }
    @media only screen and (min-width: 768px) {
      .grc-section-end-stars-mobile, .grc-section-end-stars-desktop {
        min-width: 100%;
        min-height: 90%; } }
  @media only screen and (min-width: 992px) {
    .grc-section-end-stars-mobile {
      display: none; } }
  .grc-section-end-stars-desktop {
    display: none; }
  .grc-section-end-text {
    width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial;
    line-height: 120%; }
    @media only screen and (min-width: 768px) {
      .grc-section-end-text {
        font-family: "Helvetica Neue", Helvetica, Arial; } }
    @media only screen and (min-width: 992px) {
      .grc-section-end-text {
        font-family: "Helvetica Neue", Helvetica, Arial;
        font-size: 2em; } }
  .grc-section-end-social-container {
    position: relative;
    top: 2.5%;
    text-align: center; }
  .grc-section-end-social-icon {
    display: inline-block;
    padding: 20px; }
    .grc-section-end-social-icon img {
      height: 80px;
      width: 80px; }
    @media only screen and (min-width: 768px) {
      .grc-section-end-social-icon {
        padding: 40px; }
        .grc-section-end-social-icon img {
          height: 120px;
          width: 120px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-end {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 10; } }

.grc-section-end-logo-link {
  position: relative;
  width: 100px;
  height: 39px;
  margin: 0 auto;
  margin-bottom: 12%;
  margin-top: 40%;
  z-index: 20;
  clear: both;
  display: block; }
  @media all and (orientation: landscape) {
    .grc-section-end-logo-link {
      margin-bottom: 30px; } }
  @media only screen and (min-width: 768px) {
    .grc-section-end-logo-link {
      margin-top: 15%;
      width: 200px;
      height: 78px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-end-logo-link {
      margin-top: 5%;
      width: 200px;
      height: 78px;
      margin-bottom: 5%; } }

.grc-section-end-logo {
  width: 100px;
  height: 39px; }
  @media only screen and (min-width: 768px) {
    .grc-section-end-logo {
      width: 200px;
      height: 78px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-end-logo {
      width: 200px;
      height: 78px; } }

.grc-section-end-title-text {
  position: relative;
  width: 200px;
  height: 92.75px;
  margin: auto;
  margin-bottom: 12%;
  clear: both;
  display: block;
  z-index: 10; }
  @media all and (orientation: landscape) {
    .grc-section-end-title-text {
      margin-bottom: 10px; } }
  @media only screen and (min-width: 768px) {
    .grc-section-end-title-text {
      margin-bottom: 8%;
      width: 400px;
      height: 185.5px; } }
  @media only screen and (min-width: 992px) {
    .grc-section-end-title-text {
      width: 350px;
      height: 162.3125px;
      margin-bottom: 5%; } }
